Random Quote Generator.json
[
    {
        "id": "83fe7c54b0bd0286",
        "type": "tab",
        "label": "Random Quote Generator ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "950e799f04e3f04c",
        "type": "ui_dropdown",
        "z": "83fe7c54b0bd0286",
        "name": "",
        "label": "Select Category",
        "tooltip": "",
        "place": "Select category",
        "group": "group-1",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Age",
                "value": "age",
                "type": "str"
            },
            {
                "label": "Alone",
                "value": "alone",
                "type": "str"
            },
            {
                "label": "Amazing",
                "value": "amazing",
                "type": "str"
            },
            {
                "label": "Anger",
                "value": "anger",
                "type": "str"
            },
            {
                "label": "Architecture",
                "value": "architecture",
                "type": "str"
            },
            {
                "label": "Art",
                "value": "art",
                "type": "str"
            },
            {
                "label": "Attitude",
                "value": "attitude",
                "type": "str"
            },
            {
                "label": "Beauty",
                "value": "beauty",
                "type": "str"
            },
            {
                "label": "Best",
                "value": "best",
                "type": "str"
            },
            {
                "label": "Birthday",
                "value": "birthday",
                "type": "str"
            },
            {
                "label": "Business",
                "value": "business",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "car",
                "type": "str"
            },
            {
                "label": "Change",
                "value": "change",
                "type": "str"
            },
            {
                "label": "Communication",
                "value": "communication",
                "type": "str"
            },
            {
                "label": "Computers",
                "value": "computers",
                "type": "str"
            },
            {
                "label": "Cool",
                "value": "cool",
                "type": "str"
            },
            {
                "label": "Courage",
                "value": "courage",
                "type": "str"
            },
            {
                "label": "Dad",
                "value": "dad",
                "type": "str"
            },
            {
                "label": "Dating",
                "value": "dating",
                "type": "str"
            },
            {
                "label": "Death",
                "value": "death",
                "type": "str"
            },
            {
                "label": "Design",
                "value": "design",
                "type": "str"
            },
            {
                "label": "Dreams",
                "value": "dreams",
                "type": "str"
            },
            {
                "label": "Education",
                "value": "education",
                "type": "str"
            },
            {
                "label": "Environmental",
                "value": "environmental",
                "type": "str"
            },
            {
                "label": "Equality",
                "value": "equality",
                "type": "str"
            },
            {
                "label": "Experience",
                "value": "experience",
                "type": "str"
            },
            {
                "label": "Failure",
                "value": "failure",
                "type": "str"
            },
            {
                "label": "Faith",
                "value": "faith",
                "type": "str"
            },
            {
                "label": "Family",
                "value": "family",
                "type": "str"
            },
            {
                "label": "Famous",
                "value": "famous",
                "type": "str"
            },
            {
                "label": "Fear",
                "value": "fear",
                "type": "str"
            },
            {
                "label": "Fitness",
                "value": "fitness",
                "type": "str"
            },
            {
                "label": "Food",
                "value": "food",
                "type": "str"
            },
            {
                "label": "Forgiveness",
                "value": "forgiveness",
                "type": "str"
            },
            {
                "label": "Freedom",
                "value": "freedom",
                "type": "str"
            },
            {
                "label": "Friendship",
                "value": "friendship",
                "type": "str"
            },
            {
                "label": "Funny",
                "value": "funny",
                "type": "str"
            },
            {
                "label": "Future",
                "value": "future",
                "type": "str"
            },
            {
                "label": "God",
                "value": "god",
                "type": "str"
            },
            {
                "label": "Good",
                "value": "good",
                "type": "str"
            },
            {
                "label": "Government",
                "value": "government",
                "type": "str"
            },
            {
                "label": "Graduation",
                "value": "graduation",
                "type": "str"
            },
            {
                "label": "Great",
                "value": "great",
                "type": "str"
            },
            {
                "label": "Happiness",
                "value": "happiness",
                "type": "str"
            },
            {
                "label": "Health",
                "value": "health",
                "type": "str"
            },
            {
                "label": "History",
                "value": "history",
                "type": "str"
            },
            {
                "label": "Home",
                "value": "home",
                "type": "str"
            },
            {
                "label": "Hope",
                "value": "hope",
                "type": "str"
            },
            {
                "label": "Humor",
                "value": "humor",
                "type": "str"
            },
            {
                "label": "Imagination",
                "value": "imagination",
                "type": "str"
            },
            {
                "label": "Inspirational",
                "value": "inspirational",
                "type": "str"
            },
            {
                "label": "Intelligence",
                "value": "intelligence",
                "type": "str"
            },
            {
                "label": "Jealousy",
                "value": "jealousy",
                "type": "str"
            },
            {
                "label": "Knowledge",
                "value": "knowledge",
                "type": "str"
            },
            {
                "label": "Leadership",
                "value": "leadership",
                "type": "str"
            },
            {
                "label": "Learning",
                "value": "learning",
                "type": "str"
            },
            {
                "label": "Legal",
                "value": "legal",
                "type": "str"
            },
            {
                "label": "Life",
                "value": "life",
                "type": "str"
            },
            {
                "label": "Love",
                "value": "love",
                "type": "str"
            },
            {
                "label": "Marriage",
                "value": "marriage",
                "type": "str"
            },
            {
                "label": "Medical",
                "value": "medical",
                "type": "str"
            },
            {
                "label": "Men",
                "value": "men",
                "type": "str"
            },
            {
                "label": "Mom",
                "value": "mom",
                "type": "str"
            },
            {
                "label": "Money",
                "value": "money",
                "type": "str"
            },
            {
                "label": "Morning",
                "value": "morning",
                "type": "str"
            },
            {
                "label": "Movies",
                "value": "movies",
                "type": "str"
            },
            {
                "label": "Success",
                "value": "success",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "c956ce1f73b5e7b9"
            ]
        ]
    },
    {
        "id": "c956ce1f73b5e7b9",
        "type": "function",
        "z": "83fe7c54b0bd0286",
        "name": "function 3",
        "func": "// Get the category from the incoming message payload\nlet category = msg.payload;\n\n// Define the base URL for the API request\nlet baseURL = \"https://api.api-ninjas.com/v1/quotes\";\n\n// Construct the final URL with the selected category\nlet finalURL = `${baseURL}?category=${category}`;\n\n// Set the URL and headers for the HTTP request\nmsg.url = finalURL;\nmsg.headers = {\n    \"X-Api-Key\": \"DyDwTNTPaktweamTNKw15w==aQzOSF8YLndWkFFp\"\n};\n\n// Return the modified message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "86b5e02a03c163de"
            ]
        ]
    },
    {
        "id": "86b5e02a03c163de",
        "type": "http request",
        "z": "83fe7c54b0bd0286",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "1d6870a3c30cb7ce"
            ]
        ]
    },
    {
        "id": "1d6870a3c30cb7ce",
        "type": "function",
        "z": "83fe7c54b0bd0286",
        "name": "Format Quote",
        "func": "\nmsg.payload = {\n        Quote:msg.payload[0].quote,\n        AUTHOR:msg.payload[0].author,\n        CATEGOTRY: msg.payload[0].category,\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "75c6aaeb7d425367"
            ]
        ]
    },
    {
        "id": "75c6aaeb7d425367",
        "type": "ui_text",
        "z": "83fe7c54b0bd0286",
        "group": "group-1",
        "order": 6,
        "width": 9,
        "height": 3,
        "name": "Quote Display",
        "label": "Random Quote",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "074b58e8a003f78b",
        "type": "ui_spacer",
        "z": "83fe7c54b0bd0286",
        "name": "spacer",
        "group": "group-1",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "9d470bb880750603",
        "type": "ui_spacer",
        "z": "83fe7c54b0bd0286",
        "name": "spacer",
        "group": "group-1",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "group-1",
        "type": "ui_group",
        "name": "Quote Generator",
        "tab": "tab-1",
        "order": 1,
        "disp": true,
        "width": 9
    },
    {
        "id": "tab-1",
        "type": "ui_tab",
        "name": "Quote App",
        "order": 1
    }
]
